@page "/"
    
<PageTitle>Home</PageTitle>
<MudText Typo="Typo.h3" GutterBottom="true">KubeXTerm</MudText>


<br />
<MudText Class="mb-8">
    This project is a Third Party MudBlazor Component that provides Xterm access into Kubernetes workloads.
</MudText>

<MudAlert Severity="Severity.Normal">
    You can find documentation and examples on their website here:
    <MudLink Href="https://mudblazor.com" Target="_blank" Typo="Typo.body2" Color="Color.Primary">
        <b>www.mudblazor.com</b>
    </MudLink>
</MudAlert>

<br />

<MudText Typo="Typo.h5" GutterBottom="true">Features</MudText>
<MudText Typo="Typo.body2">
    <ul>
        <li><strong>Xterm Integration</strong>: Offers full terminal functionality via Xterm.js.</li>
        <li><strong>NuGet Package (coming soon)</strong>: Easy integration with .NET 8 projects.</li>
    </ul>
</MudText>

<br />

<MudText Typo="Typo.h5" GutterBottom="true">Acknowledgements</MudText>
<MudText Typo="Typo.body2">
    <ul>
        <li><a href="https://mudblazor.com/">MudBlazor</a> – For providing an elegant Blazor UI framework.</li>
        <li><a href="https://xtermjs.org/">Xterm.js</a> – For the powerful terminal emulation library.</li>
        <li><a href="https://kubernetes.io/">Kubernetes</a> – For enabling seamless container orchestration.</li>
        <li><a href="https://opensource.org/">Open Source Community</a> – For fostering innovation and collaboration.</li>
    </ul>
</MudText>

<br />

<MudText Typo="Typo.h5" GutterBottom="true">Getting Started</MudText>
<MudText Typo="Typo.body2">
    <h3>Prerequisites</h3>
    <br />
    <ul>
        <li><a href="https://dotnet.microsoft.com/download/dotnet/8.0">.NET 8 SDK</a></li>
        <li>Docker</li>
        <li>Kubernetes cluster with required permissions</li>
    </ul>
</MudText>

<br />

<MudText Typo="Typo.body2">
    <br />
    <h3>Installation</h3>
    <pre><code>
# Clone the repository
git clone https://github.com/freeman412/MudBlazor.KubeXTerm.git
cd repo-name

# Install dependencies
dotnet restore

# Run the application
dotnet run
    </code></pre>
</MudText>

<br />

<MudText Typo="Typo.h5" GutterBottom="true">Contributing</MudText>
<MudText Typo="Typo.body2">
    We welcome contributions to KubeXTerm! Whether you're fixing bugs, adding new features, or improving documentation, your help is greatly appreciated.
</MudText>

<MudText Typo="Typo.body2">
    <h6>How to Contribute</h6>
    <ol>
        <li>
            <strong>Fork the Repository</strong>
            Click the "Fork" button on the top right of this repository to create your own copy.
        </li>
        <li>
            <strong>Clone Your Fork</strong>
            <pre><code>
git clone https://github.com/your-username/MudBlazor.KubeXTerm.git
cd k8s-sandbox-terminal
            </code></pre>
        </li>
    </ol>
</MudText>
