@using XtermBlazor
@implements IAsyncDisposable
@inject IJSRuntime JsRuntime

<div style="background-color: #282a36; margin-left: 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;" class="overflow-hidden">
        <Xterm
            Addons="_addons"
            @ref="_term"
            Options="_options"
            OnFirstRender="@OnFirstRender"
            Style="@Style"
            OnRender="FitTerminal"
            OnKey="OnTerminalKey" />
</div>

@code{
    /// <summary>
    /// The number of pixels to subtract from total viewport height to determine full height of terminal.
    /// calc(100vh-HeightDifferential).
    /// The height of the Terminal Window must be relative to the viewport height.
    /// </summary>
    [Parameter]
    public string HeightDifferential { get; set; } = "205px";
    
    [Parameter] public string Style { get; set; } = "padding-left: 10px; padding-right: 10px; padding-top: 10px; margin-bottom: 15px;";

    protected override void OnParametersSet()
    {
        Style = $"{Style} height: calc(100vh - {HeightDifferential}px); ";
    }

    //The main Xterm Object
    private Xterm _term;
    private TerminalOptions _options = new TerminalOptions
        {
            CursorBlink = true,
            CursorStyle = CursorStyle.Bar,
            FontFamily = "GT-America-Mono, monospace",
            DisableStdin = false,

            Theme =
            {
                Background = "#282a36",
                Foreground = "#bacfc7"
            },
        };
    private readonly HashSet<string> _addons = new HashSet<string> { "addon-fit" };
    private DotNetObjectReference<WelcomeTerminal> _dotNetObjectReference;
    private bool _isWelcoming = true;

    /// <summary>
    /// Tracks the Viewport width for resize events
    /// </summary>
    public int ViewportWidth { get; set; }
    /// <summary>
    /// Tracks the Viewport height for resize events
    /// </summary>
    public int ViewportHeight { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _dotNetObjectReference = DotNetObjectReference.Create(this);
            await JsRuntime.InvokeVoidAsync("window.registerViewportChangeCallback", _dotNetObjectReference);
        }

    }

    /// <summary>
    /// Method called from the javascript watcher for user initiated resizing
    /// </summary>
    /// <param name="width"></param>
    /// <param name="height"></param>
    /// <returns></returns>
    [JSInvokable]
    public async Task OnResize(int width, int height)
    {
        if (ViewportWidth == width && ViewportHeight == height)
            return;
        ViewportWidth = width;
        ViewportHeight = height;
        await FitTerminal();
        StateHasChanged();
    }

    /// <summary>
    /// The first render method for the XTerm Component. Sets up the connection to k8s and fits the terminal to the window.
    /// </summary>
    /// <returns></returns>
    private async Task OnFirstRender()
    {
        try{
            await FitTerminal();
            await _term.Write("root@welcomeTerminal: ");
            await Task.Delay(1200);
            await SimulateTyping("./initialize.sh");
            await _term.Write("\n");

            // Simulated typing speed
            async Task SimulateTyping(string message, int delay = 50)
            {
                foreach (var character in message)
                {
                    _term.Write(character.ToString());
                    await Task.Delay(delay);
                }
                _term.WriteLine(""); // Newline at the end of the message
            }

            // Fake welcome script
            async Task ExecuteWelcomeScript()
            {
                // await SimulateTyping("help")
                await Task.Delay(500);
                await SimulateTyping("Welcome to the KubeXTerm Terminal!");
                await Task.Delay(500); // Pause
                await SimulateTyping("Initializing environment...");
                await Task.Delay(1000); // Simulate delay for environment setup
                await SimulateTyping("Environment initialized successfully.");
                await Task.Delay(500);
                await SimulateTyping("Running startup checks...");
                await Task.Delay(1000);
                await _term.WriteLine("All systems operational.");
                await Task.Delay(500);
                await SimulateTyping($@"You're all set! Open a new tab from the pod table to get started. Type ""help"" for additional help.");
                await _term.WriteLine("");
                await _term.Write("root@welcomeTerminal: ");
            }

            await ExecuteWelcomeScript();
            _isWelcoming = false;
        }
        catch (Exception e)
        {
            //Not a big deal, the component is probably closed by a user gone
            Console.WriteLine($"Error in OnFirstRender: {e.Message}");
        }
    }

    private async Task HelpCommand()
    {
        await _term.Write("\nHelp is displayed here\n");
    }

    private string _commandBuffer = "";
    private async Task OnTerminalKey(KeyEventArgs e)
    {
        if (_isWelcoming)
            return;
        _commandBuffer += e.Key;
        await _term.Write(e.Key);
        if(e.Key == "\r")
        {
            if (_commandBuffer == "help\r")
            {
                await HelpCommand();
            }
            else if (_commandBuffer == "\r")
            {
                
            }
            else{
                await _term.WriteLine("\nBad Command! Type \"help\" for additional help");
            }
            _commandBuffer = "";
            await _term.WriteLine("");
            await _term.Write("root@welcomeTerminal: ");
        }
    }

    private async Task FitTerminal()
    {
        //Tell the javacript XTerm to fit the container
        await _term.Addon("addon-fit").InvokeVoidAsync("fit");    
    }


    public async ValueTask DisposeAsync()
    {
        try
        {
            // Dispose of JSInterop callbacks
            if (_dotNetObjectReference != null)
            {
                _dotNetObjectReference.Dispose();
                await JsRuntime.InvokeVoidAsync("window.unregisterViewportChangeCallback");
            }

        }
        catch (Exception ex)
        {
            // Handle any exceptions that might occur during stream write operations
            Console.WriteLine($"Error while Disposing of Terminal: {ex.Message}");
        }

    }
}