
.mud-container-maxwidth-100 .mud-container-maxwidth-lg {
    max-width: 100% !important;
}

.kube-xterm-active-panel {
    background: red;
}

.kube-xterm-panel-background {
    background: #141414;
}

.border-radius-bottom {
    border-radius: 0 0 10px 10px;
}

.border-radius-top {
    border-radius: 10px 10px 0 0;
}