
@font-face {
    font-family: 'GT-America-Mono-Regular';
    src: url(../fonts/GT-America-Mono/GT-America-Mono-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*
@font-face {
    font-family: 'GT America Mono';
    src: url('../fonts/GT-America-Mono/GT-America-Mono-Bold.woff2') format('woff2'),
    url('../fonts/GT-America-Mono/GT-America-Mono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}*/
